.QZ1{
    margin-top: 30px;
    background-color: rgb(9, 255, 0);
    color: blue;
}
.QZ2{
    margin-top: 30px;}
    
.QZ3{
    margin-top: 30px;
}
.QZ4{
    margin-top: 30px;
}
.QZ5{
    margin-top: 30px;
}