.QZ1{
    margin-top: 30px;
    color: black;
    font-size: 20px;
    font-weight: bolder;
 
}
.QZ2{
    margin-top: 30px;}
    
.QZ3{
    margin-top: 30px;
}
.QZ4{
    margin-top: 30px;
}
.QZ5{
    margin-top: 30px;
}